@{
    ViewBag.Title = "home page";
}

<div class="product-info">
    <img src="~/img/american-indian-chief.jpg" />
    <h3>mug</h3>
    <ul class="product-props">
        <li>price : $9.0</li>
        <li>artist: van gogh</li>
    </ul>
    <button id="buyButton">buy</button>
    <br />
</div>

<div id="theForm">
    <form>
        <label>Your Name:</label>
        <br />
        <input />
        <br />
        <label>Email:</label>
        <br />
        <input type="email" />
        <br />
        <label>Subject:</label>
        <br />
        <input type="text" />
        <br />
        <label>Message:</label>
        <br />
        <textarea rows="4"></textarea>
        <br />
        <input type="submit" value="Send Message" />
    </form>
</div>
    
<div>
    <div id="logginToggle">Login</div>
    <form class="popup-form">
        <div>
            <label>Username</label>
            <input/>
        </div>
        <div>
            <label>Password</label>
            <input type="password"/>
        </div>
        <div>
            <input type="checkbox"/>
            <label>remember me</label>
        </div>
        <div>
            <input type="submit" value="login"/>
        </div>
    </form>
</div>
